spring.application.name=demobudget

#DataSource
spring.datasource.url=jdbc:mysql://localhost:3306/demobudget?autoReconnect=true&useSSL=false
spring.datasource.username=***SQL_USER_LOGIN***
spring.datasource.password=***SQL_USER_PASSWORD***

# Show or not log for each sql query
# Hibernate ddl auto (create, create-drop, update)
spring.jpa.hibernate.ddl-auto = update
